body {
    margin: 0;
}

article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    margin: 36px;
}

input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding: 20px;
    font-size: large;
    font-weight: bold;
}

button {
    width: 200px;
    background: red;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
